<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Voos</title>
    <style>
        table{
            width: 100%;
            border: 1px solid black;
            text-align: center;
        }
        th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <%- include("../partials/cabecalho.ejs") %>
    <div class="container">
        <% if(status == "1") {%>
            <div class="alert alert-success alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Cadastrado com <b>sucesso!</b>
            </div>
        <% } %>
        <% if(status == "2") {%>
            <div class="alert alert-danger alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Removido com <b>sucesso!</b>
            </div>
        <% } %>
        <% if(status == "3") {%>
            <div class="alert alert-warning alert-dismissible">
                <button class="btn-close" data-bs-dismiss="alert"></button>
                Atualizado com <b>sucesso!</b>
            </div>
        <% } %>
        <table>
            <tr>
                <th>Número do Voo</th>
                <th>Trajeto</th>
                <th>Partida</th>
                <th>Detalhar</th>
                <th>Excluir</th>
                <th>Editar</th>
            </tr>
            <% voos.forEach(voo => { %>
                <tr>
                    <td> <%= voo.numerovoo %> </td>
                    <td> <%= voo.trajeto %> </td>
                    <td> <%= voo.partida %> </td>
                    <td>
                        <a href="/voos/<%= voo.numerovoo %>">
                            <button type="button" class="btn btn-info">Detalhar</button>
                        </a>
                    </td>
                    <td>
                        <a href="/voos/remover/<%= voo.numerovoo %>">
                            <button onclick="return confirm('Deseja realmente excluir?')" type="button" class="btn btn-danger">Excluir</button>
                        </a>
                    </td>
                    <td>
                        <a href="/voos/cadastrar/<%= voo.numerovoo %>">
                            <button type="button" class="btn btn-warning">Editar</button>
                        </a>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>
